body{
    scroll-behavior: smooth;
}

nav {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s;
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
    color: rgb(136, 136, 231);
}