body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    
    margin: 20px auto;
    display : flex;
    flex-direction: column;
    align-items: center;   
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.text{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-size: 12px;
    box-sizing: border-box;
}

button {
    width: 100%;
    display: block;
    padding: 10px;
    background-color: #585757;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #444343;
}

.task-list{
    list-style: none;
    margin: auto;
    padding: 0;
    max-width: 300px;
    width: 100%;
}

.task-item{
    background-color: white;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-left: 5px solid #63ec75;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-name{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
    color: #576ff8;

}

.task-description{
    font-size: 18px;
    color: #666;
}

.delete{
    text-decoration: none;
    margin-top: 10px;
    padding: 6px 10px;
    color: white;
    background-color: rgb(251, 92, 92);
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.8s;
}

.delete:hover{
    background-color: rgb(245, 47, 47);
}

.update{
    text-decoration: none;
    margin-top: 10px;
    padding: 6px 10px;
    color: white;
    background-color: rgb(59, 236, 151);
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.8s;
}

.update:hover{
    background-color: rgb(34, 181, 110);
}